[submodule "computervision-service/3rdparty/openpose"]
	path = computervision-service/3rdparty/openpose
	url = https://github.com/sirfrank96/openpose.git
[submodule "computervision-service\\3rdparty\\openpose"]
	path = computervision-service\\3rdparty\\openpose
	url = https://github.com/sirfrank96/openpose.git
