services:
  go-server:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "50052:50052"
    environment:
      MONGO_URI: "mongodb://mongodb:27017"
    depends_on:
      mongodb:
        condition: service_started

  mongodb:
    image: mongo:latest
    ports:
      - "27017:27017"
    command: mongod --bind_ip_all
    volumes:
      - mongo-data:/data/db # Persist data

volumes:
  mongo-data:
    